---
import Heading from "../common/Heading.astro";
import ServiceCard from "./ServiceCard.astro";
---

<section class="container my-24 text-white">
  <Heading title="Our Services" id="services-heading" />
  <div class="mt-2 flex items-center justify-between">
    <p class="max-w-2/3 text-xs lg:text-sm 2xl:text-base">
      With our Amazon Marketing Services, we assist brands in establishing a
      growing business cycle through a flexible strategy to advertise on Amazon.
    </p>
  </div>

  <div class="my-14 grid grid-cols-2 gap-x-4 lg:grid-cols-3 2xl:grid-cols-4">
    <ServiceCard
      title="Amazon Store Creation"
      description="With our Amazon Marketing Services, we assist brands in establishing a growing business cycle through a flexible strategy to advertise on Amazon."
      link="/services/store-setup"
    />
    <ServiceCard
      title="Amazon Marketing Services"
      description="With our Amazon Marketing Services, we assist brands in establishing a growing business cycle through a flexible strategy to advertise on Amazon."
      link="/services/marketing-services"
    />
  </div>
</section>
