---
const {
  title = "title",
  description = "description",
  link = "/",
  id = "default-card",
} = Astro.props;
---

<div class="border-gradient flex h-full flex-col rounded-lg px-7 py-8" id={id}>
  <h1
    class="mb-6 min-h-[24px] text-center text-sm font-semibold whitespace-nowrap text-white lg:min-h-[28px] lg:text-base"
    set:html={title}
  />
  <p
    class="flex-grow text-center text-xs text-[#ffffff] md:text-xs lg:text-xs 2xl:text-sm"
  >
    {description}
  </p>
  <div class="mt-8">
    <a
      href={link}
      class="bg-gradient block w-full cursor-pointer rounded-full py-1 text-center text-[11px] text-white md:text-xs lg:py-2 xl:text-sm 2xl:text-base"
    >
      Learn More
    </a>
  </div>
</div>
