---
import Heading from "../common/Heading.astro";
import TestimonialCard from "./TestimonialCard.astro";
import client1 from "../../assets/home/testimonials/1.png";
import client2 from "../../assets/home/testimonials/2.png";
import client3 from "../../assets/home/testimonials/3.png";
---

<section
  id="testimonials-section"
  class="container flex flex-col gap-y-6 py-12"
  data-anim="fade-in"
  data-anim-delay="0.2"
>
  <div id="testimonials-content" class="max-w-[1024px]">
    <div data-anim="fade-up">
      <Heading
        id="testimonials-heading"
        title="Looking For More Information About Swyft Achievers?"
      />
    </div>
    <p
      id="testimonials-description"
      class="mt-4 text-xs text-white lg:text-sm 2xl:text-base"
      data-anim="fade-up"
      data-anim-delay="0.2"
    >
      Learning from others' experiences will help you make better decisions for
      your business online. Here are our value-driven customers' feedbacks.
    </p>
  </div>

  <div
    id="testimonials-grid"
    class="mx-auto mt-12 grid grid-cols-1 gap-x-12 gap-y-8 md:grid-cols-2 xl:grid-cols-3"
    data-anim-group
    data-anim-stagger="0.15"
    data-anim-y="50"
    data-anim-duration="0.8"
  >
    <div
      data-anim-item
      class="testimonial-card-wrapper"
      id="testimonials-card-1-wrapper"
    >
      <TestimonialCard
        id="testimonials-card-1"
        name="Anjie Roberts"
        country="United States"
        description=" I'm glad you had a positive experience with their services. Thorough understanding, cooperation, and high-quality work made it a worthwhile investment. Delighted with their job and the results achieved."
        stars={5}
        image={client1}
      />
    </div>
    <div
      data-anim-item
      class="testimonial-card-wrapper"
      id="testimonials-card-2-wrapper"
    >
      <TestimonialCard
        id="testimonials-card-2"
        name="Joan Smith"
        country="Canada"
        description=" I'm glad you had a positive experience with their services. Thorough understanding, cooperation, and high-quality work made it a worthwhile investment. Delighted with their job and the results achieved."
        stars={5}
        image={client2}
      />
    </div>
    <div
      data-anim-item
      class="testimonial-card-wrapper"
      id="testimonials-card-3-wrapper"
    >
      <TestimonialCard
        id="testimonials-card-3"
        name="Alice Johnson"
        country="UK"
        description=" I'm glad you had a positive experience with their services. Thorough understanding, cooperation, and high-quality work made it a worthwhile investment. Delighted with their job and the results achieved."
        stars={5}
        image={client3}
      />
    </div>
  </div>
</section>
