---
import defaultImage from "../../assets/home/upscaling/data-push.png";
const {
  title = "Data Push",
  description = "With our Amazon Marketing Services, we assist brands in establishing a growing business cycle through a flexible strategy to advertise on Amazon.",
  image = defaultImage,
  id = "upscale-card",
} = Astro.props;
import Image from "astro/components/Image.astro";
---

<article
  id={id}
  class="from-gradient-start to-gradient-end flex max-w-[330px] transform cursor-pointer flex-col items-center justify-center space-y-3 rounded-4xl bg-linear-120 px-8 py-8 text-white duration-150 hover:scale-105"
>
  <Image
    src={image}
    alt="Upscaling Image"
    class="-mt-20 h-24 w-24 rounded-full object-cover"
    width={96}
    height={96}
    loading={"lazy"}
  />
  <h3 class="text-lg font-bold">{title}</h3>
  <p class="text-center text-sm">{description}</p>
</article>
