---
import Heading from "../common/Heading.astro";
import UpscalingCard from "./UpscalingCard.astro";
---

<section
  class="container my-12 flex flex-col items-center space-y-8 text-center text-white lg:my-24 xl:space-y-[38px]"
>
  <Heading
    title="Swift Achievers making upscaling easy"
    id="upscaling-heading"
  />
  <p class="mx-auto max-w-[80%] text-center text-xs lg:text-sm 2xl:text-base">
    We have the experience required to accomplish explosive e-commerce growth in
    the United States. We employ our best skills in the following strategies:
  </p>

  <button
    class="bg-gradient cursor-pointer rounded-full px-6 py-1 text-center text-[11px] text-white md:text-xs lg:py-2 xl:text-sm 2xl:text-base"
  >
    Get In Touch
  </button>

  <div
    class="mt-12 flex flex-wrap items-center justify-center gap-x-4 gap-y-20"
  >
    <UpscalingCard />
    <UpscalingCard />
    <UpscalingCard />
  </div>
</section>
