---
import Heading from "./Heading.astro";
---

<section
  class="container flex flex-col items-center justify-center gap-y-6 py-12 text-white"
>
  <div class="max-w-[1100px] text-center">
    <h1
      id="scaling-products-heading"
      class="3xl:text-[46px] mx-auto max-w-[85%] text-2xl font-semibold md:text-3xl lg:text-4xl xl:text-[40px]"
    >
      Scaling Mid-To-Large Scale Products Brands On Amazon
    </h1>
    <p
      id="scaling-products-paragraph"
      class="mx-auto mt-4 text-center text-xs lg:text-sm 2xl:text-base"
    >
      Over the years we have implemented techniques that set the pace of Amazon
      advertising for product brands; aiming for meticulous account management.
      AMZ Inventor reaches for high visibility and better conversions on Amazon.
    </p>
  </div>
  <div
    class="flex w-full flex-wrap gap-x-4 gap-y-6 md:justify-between md:gap-x-8 lg:gap-x-10 xl:gap-x-12 xl:gap-y-0"
  >
    <div class="flex flex-col">
      <h1
        class="3xl:text-[70px] text-4xl text-white sm:text-5xl lg:text-5xl xl:mt-6 xl:text-6xl xl:leading-[66px] 2xl:text-[64px] 2xl:leading-[74px]"
      >
        225 +
      </h1>
      <span class="text-xs lg:text-sm 2xl:text-[18px]">
        Dedicated Amazon <br /> Marketing Specialist
      </span>
    </div>
    <div class="flex flex-col">
      <h1
        class="3xl:text-[70px] text-4xl text-white sm:text-5xl lg:text-5xl xl:mt-6 xl:text-6xl xl:leading-[66px] 2xl:text-[64px] 2xl:leading-[74px]"
      >
        96 %
      </h1>
      <span class="text-xs lg:text-sm 2xl:text-[18px]">
        Unmatched Client <br /> Satisfaction
      </span>
    </div>
    <div class="flex flex-col">
      <h1
        class="3xl:text-[70px] text-4xl text-white sm:text-5xl lg:text-5xl xl:mt-6 xl:text-6xl xl:leading-[66px] 2xl:text-[64px] 2xl:leading-[74px]"
      >
        2500 +
      </h1>
      <span class="text-xs lg:text-sm 2xl:text-[18px]"> Daily Visitors </span>
    </div>
    <div class="flex flex-col">
      <h1
        class="3xl:text-[70px] text-4xl text-white sm:text-5xl lg:text-5xl xl:mt-6 xl:text-6xl xl:leading-[66px] 2xl:text-[64px] 2xl:leading-[74px]"
      >
        20 +
      </h1>
      <span class="text-xs lg:text-sm 2xl:text-[18px]">
        Years of <br /> Experience
      </span>
    </div>
    <div class="flex flex-col">
      <h1
        class="3xl:text-[70px] text-4xl text-white sm:text-5xl lg:text-5xl xl:mt-6 xl:text-6xl xl:leading-[66px] 2xl:text-[64px] 2xl:leading-[74px]"
      >
        15 +
      </h1>
      <span class="text-xs lg:text-sm 2xl:text-[18px]">
        Data-driven <br /> Strategies
      </span>
    </div>
  </div>
  <div class="mt-4 flex gap-x-4">
    <a
      class="bg-gradient cursor-pointer rounded-full px-6 py-2 text-[11px] text-white md:text-xs lg:text-sm xl:text-base"
    >
      Get a Quote
    </a>
    <a
      class="cursor-pointer rounded-full border px-6 py-2 text-[11px] text-white md:text-xs lg:text-sm xl:text-base"
    >
      +1 (773) 312 4788
    </a>
  </div>
</section>
